@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//Baseline Styles
html {
	height: 100%;
	font-size: 14.5px;
}
body {
	font-family: 'Roboto';
	resize: both;
	margin: 0;
	padding: 0;
	background-color: #efefef !important;
}

#root {
	height: 100%;
}

.App {
	margin-top: 25px;
	text-align: center;
	height: 100%;
}

.decoder {
	width: 60%;
	min-width: 700px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.binary {
	font-family: 'Roboto Mono';
	margin-bottom: 10px;
}
